html {
	font-family: Arial, helvetica, sans-serif;
	font-size: 16px;
}

body {
	margin: 0;
	padding: 0;
}

	/* Header Section */
	
	.header {
		background-image: url('images/header-bg.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		z-index: 0;
		height: 100vh;
		position: relative;
	}

	.header-blur {
		position: absolute;
		z-index: 1;
		width: 100%;
		height: 100%;
		background-color: rgba(23, 10, 7, 0.46);
	}

	.header-content {
		position: absolute;
		width: 100%;
		top: 35%;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 0.7em;
		z-index: 2;
	}

	.create-title > h1 {
		margin: 0;
		padding-top: 0;
		font-size: 8em;
		font-weight: bold;
		color: #ececec;
	}

	.create-description > h3 {
		margin: 0;
		padding-top: 1.5em;
		font-size: 1.5em;
		color: #9f9f9f;
	}

	.btn-learn {
		text-transform: uppercase;
		font-size: 1.2em;
		font-weight: bold;
		color: #fff;
		background-color: #000;
		border: none;
		outline: none;
		letter-spacing: 0.2em;
		padding: 0.6em 1.5em;
		margin-top: 0.8em;
	}

	.mouse-scroll > img {
		width: 50px;
		position: absolute;
		transform: translate(-50%, -50%);
		bottom: 0;
		left: 50%;
		color: #fff;
	}

	.mouse-scroll > img:hover {
		cursor: pointer;
	}

	/* Who-we-are Section */

	.who-we-are {
		background-color: #fbf9fa;
	}
	
	.who-we-wrapper {
		padding-top: 1.5em;
		padding-bottom: 3em;
	}

	.who-we-title {
		font-size: 2em;
		font-weight: bold;
		color: #514f50;
		padding: 1em 0;
	}

	.who-we-text {
		font-size: 1.2em;
		color: #20131a;
	}

	.btn-show {
		border: none;
		outline: none;
		color: #fff;
		background-color: #428cbd;
		border-radius: 2em;
		padding: 0.7em 1.5em;
		font-size: 0.9em;
		letter-spacing: 0.2em;
		margin-top: 3.5em;
	}

	.iphone {
		margin: 0 3em;
	}

	.iphone-pic {
		width: 100%;
	}

	/* Services Section */

	.service-wrapper {
		margin-top: 3.5em;
	}

	.services-title {
		text-transform: uppercase;
	}

	.services-description {
		color: #5a5a5a;
	}

	.title {
		font-weight: bold;
		font-size: 1.2em;
		color: #131313;
	}

	.description {
		color: #636363;
		font-size: 0.9em;
		padding-top: 0.5em;
	}

	.service-icon {
		padding-top: 1em;
		padding-left: 0.5em;
	}


	/* Gallery Section */
	
	.gallery {
		background-color: #f7f7f7;
		padding: 4em 0;
	}

	.post-wrapper {
		background-color: #fff;
		position: relative;
		padding-bottom: 1.5em;
	}

	.picture-block img {
		width: 100%;
	}
	
	.picture-text > div, .date-icon, .comments-icon {
		display: inline-block;
		color: #c7c7c7;
	}

	.picture-text {
		padding: 1.5em;
	}

	.post-title {
		color: #414141;
	}

	.post-contain {
		color: #696969;
	}

	.read-more {
		border: none;
		outline: none;
		background: transparent;
		text-transform: uppercase;
		color: #24b898;
		letter-spacing: 0.8px;
		font-size: 0.8em;
		padding-left: 1.5em;
	}

	.tags {
		position: absolute;
		top: 10px;
		right: 10px;
		background-color: #24b898;
		padding: 0.3em 1.6em;
		border-radius: 3em;
		color: #fff;
	}

	.tags:hover {
		cursor: pointer;
		background-color: #1e967c;
	}

	/* Footer section */
	
	.footer {
		background-color: #111111;
	}

	.footer-title {
		text-transform: uppercase;
		color: #fdfdfd;
		font-size: 1.2em;
	}

	.line {
		width: 100%;
		height: 2px;
		background-color: #303030;
	}

	.footer-content {
		color: #838383;
		font-size: 0.9em;
		padding: 0.5em;
	}

	.footer-link {
		color: #d6d6d6;
	}

	.footer-link:hover {
		color: #efeeee;
	}

	.footer-input {
		padding: 5px;
		margin: 0;
		border: none;
		background-color: #242424;
		outline: none;
		
	}

	.btn-send {
		padding: 5px 10px;
		border: none;
		outline: none;
		background-color: #363636;
	}

	.btn-send:active {
		background-color: #565555;
	}

	.footer-icons > a {
		font-size: 1.6em;
		margin: 0 0.4em;
		color: #777777;
	}










